#base {
  position: absolute;
  width: 620px;
  height: 434px;
}

#steering {
  /* 5362 2 */

  position: absolute;
  width: 159px;
  height: 157px;
  left: 90px;
  top: 129px;
  border-radius: 100px;
  /* border: 1px solid red; */
}

/* #steering_red {
  position: absolute;
  width: 163px;
  height: 157px;
  left: 90px;
  top: 129px;
  border-radius: 100px;
} */
